<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %>
</head>
<body>
    <h1><%= heading %></h1>
    <h1><%= heading2 %></h1>
    <% let name = "Kharhyll" %>
    <h2><%= name %></h2>

    <h1>dfsfsdfsjkfjskf</h1>
    <h1>asdasjkdasjkda</h1>
    <h1>i'm sleepyyyyyyyyyyyyyyyyyy</h1>
    <h1>Theodosia writes me a letter everyday. I'm keeping her bed warm while her husband is away</h1>
    <h1>He's on the british side in Georgia, he's tryna keep the colonies in line</h1>
    <h1>Well he can keep all of Georgia, Theodosia is mine</h1>
    <h1>Love doesn't discriminate between the sinners and the saints, it takes and it takes and it takes</h1>
    <h1>And we keep loving anyway, we laugh and we cry and we break and we make our mistakes</h1>
    <h1>And if there's a reason I'm by her side when so many have tried then I'm willing to wait for it</h1>
    <h1>I'm willing to wait for it</h1>
    <p>   </p>

    <h1>Death doesn't discriminate between the sinners and the saints, it takes and it takes and it takes</h1>
    <h1>And we keep living anyway, we rise and we fall and we break and we make our mistakes</h1>
</body>
</html>